<div class="bg-cover bg-center md:p-8">
  {% if section.settings.image != blank %}
  <img src="{{ section.settings.image | img_url: 'master' }}" alt="" />
  {% else %} {% capture current %}{% cycle 1, 2 %}{% endcapture %}
  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>

{% schema %}
{
  "name": "Top Image",
  "class": "hero-sections",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Top Background"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Top Image"
    }
  ]
}
{% endschema %}
