<section
  class="container p-6 mx-auto animsition"
  data-animsition-in-class="fade-in-right-sm"
  data-animsition-in-duration="1000"
>
  <h1
    class="
      font-serif
      text-4xl
      font-semibold
      text-center text-gray-700
      py-12
      md:text-5xl
    "
  >
    About Us
  </h1>
  {% section 'aboutus-row' %} {% section 'aboutus-row2' %} {% section
  'aboutus-row3' %}
</section>
