<section class="w-full md:max-w-6xl py-4 px-6">
  <h1 class="text-xl font-serif font-semibold text-gray-700 my-2">
      {{ page.title }}
    </h1>
  <div class="mt-12 text-gray-800 space-y-2 font-mono">
      {{ page.content }}
    </div>
</section>
